/* navbar  */
*{
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
nav ul{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: white;
    
}
nav ul li{
    padding: 20px;
    box-sizing: border-box;
   
}
i{
    transition: .3s;
}

nav ul li a{
    text-decoration: none;
    font-size: 30px;
    color: black;

}
nav ul li {
    width: 33%;
    
}
nav ul a:nth-child(1):hover i{
   color: red;
   
}
nav ul li:nth-child(2){
    text-align: center;
}


.search-box{
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 20px;
    
}
.search-box button{
    background-color: transparent;
    border: none;


}
.search-box .txt-box{
    width: 150px;
    font-size: 20px;
    color: black;
    border: none;
    padding: 5px 8px;
    width: 0%;
    border-radius: 20px;
    transition: .5s;
}
input{
    outline:  none;
}
.search-box .search-icon{
    font-size: 30px;
    cursor: pointer;
}

.search-box:hover .txt-box {
        display: inline-block;
        width: 100%;
        border: red 2px solid;
        cursor: pointer;
        
}

.search-box  .txt-box:focus {
    display: inline-block;
    width: 100%;
    border: red 2px solid;
    cursor: pointer;
    
}

@media (max-width: 500px){
    nav ul li:nth-child(2){
        display: none;
    }
    nav ul li:first-child {
        width: 20%;
    }
    nav ul li:last-child{
        width: 80%;
    }
}

/* navbar  */

/* food  */
.container{
    margin: auto;
    width: 96%;
    height: 100%;
    max-width: 1500px;
    margin-top: 90px;
}


.food .row{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;

}

.food .row .col{
    overflow: hidden;
    width: 24%;
    border-radius: 5px;
}

.food .row .col img{
    object-fit: cover;
    width: 100%;
    transition: .3s linear;
    
}

.food img:hover{
    transform: scale(1.1);
}
.food .row .col img:hover+h1{
    transform: translateY(15px);
}
.food .row .col h1{
    transition: .3s linear;
    margin: 5px;
    padding: 0;
    font-weight:300;
    font-size: 4vh;
    text-align: center;
}
.food .row .col p{
font-size: 2.5vh;
text-align: center;
}

@media (max-width:913px) {
    .food .row .col{
        width: 49%;
    }
    
}

@media (max-width:400px) {

     .food .row .col{
        width: 100%;
    }

}
/* food  */

/* number  */
.num{
    margin:auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.num ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.num ul li:nth-child(2)>a{
    color: white;
    border-radius: 10px;
    background-color: black;
}
.num ul li a{
    display: block;
    padding: 10px 25px;
    transition: 0.3s linear;
    font-size:35px;
    color: black;
    text-decoration: none;
}
.num ul li:hover{
    background-color: black;
    color: white;
    transform: scale(1.3);
    border-radius: 10px;
}
.num ul li:hover>a{
    color: white;
}

@media (max-width:390px) {

    .num ul li a{
        font-size: 20px;
    }
    .num ul li a{
       
        padding: 10px 10px;
    }
    
}
@media (max-width:913px) {
    .num ul li a{
        font-size: 20px;
    }
    .num ul li a{
        padding: 10px 15px;
    }
}
/* number  */

/* about  */

.about {
    width: 100%;
    margin-top: 100px;
   

}
.about h1{
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    
}
.about h2{
    font-size: 30px;
}
.about .img{
    background-color: rgb(0, 0, 0);
    width: 70%;
   margin: auto;
    
} 

.about .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}
.about h2, .about p{
    text-align: center;
}
.about .p1{
    font-style: italic;
    color: gray;
}
.about p{
   font-size: 21px;
}

 /* about */

 /* contact  */

 .contact{
     margin-top: 100px;
     width: 100%;
     display: flex;
     justify-content: space-between;
     margin-bottom: 50px;
     flex-flow: row wrap;
    
 }
 .contact .col{
     width: 32%;
 }


 .contact h1{
    font-weight: 500;
 }
 .contact .col p{
     font-size: 20px;
 }
 .contact .col .b1{
     width: 80%;
     font-size: 25px;
     display: flex;
     
 }
.b1 .row{
     margin-left: 20px;
 }
.contact .col .b1{
    font-size: 20px;
}
 .contact .col .b1 img{
     width: 20%;
     object-fit: cover;
    
}
hr{
   opacity: 0.3;
    width: 95%;
}

/* Popular tag  */

.contact .col ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}
.contact .col ul li a{
    display: inline-block;
    padding: 5px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 5px;
}

@media (max-width:1013px) {
    .contact .col{
        width: 100%;
    }
    
}

/* scrollbar  */
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 10px;
}